{% include "adherent/entete.html.twig" %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Responsable</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    </head>
    <body>
    <br>
    <div class="container">
    <h1 class="display-6"><strong><u>Nouveau responsable</u></strong></h1><br>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>ATTENTION</strong> Vous devez ajouter un responsable avant de créer votre adhérent !
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>



{{ form_start(form) }}

<div class="alert alert-primary" role="alert">
  <label class="form-label">Genre</label>
    {{ form_widget(form.genre, {'attr': {'class': 'form-control'}})}}<br>
        
  <label class="form-label">Nom</label>
    {{ form_widget(form.nom, {'attr': {'class': 'form-control'}})}}<br>
      
  <label class="form-label">Prénom</label>
    {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}})}}<br>
      
  <label class="form-label">Téléphone</label>
    {{ form_widget(form.telephone, {'attr': {'class': 'form-control'}})}}<br>

  <label class="form-label">Portable</label>
    {{ form_widget(form.portable, {'attr': {'class': 'form-control'}})}}<br>

  <label class="form-label">E-mail</label>
    {{ form_widget(form.mail, {'attr': {'class': 'form-control'}})}}<br>

  <label class="form-label">Adresse</label>
    {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}})}}<br>

  <label class="form-label">Ville</label>
    {{ form_widget(form.ville, {'attr': {'class': 'form-control'}})}}<br>

  <label class="form-label">Code postal</label>
    {{ form_widget(form.cp, {'attr': {'class': 'form-control'}})}}<br>

<br>
<div class="col-12">
  {{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-primary'}})}}
</div>

{{ form_end(form) }}


  </div>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    </body>
</html>
{% endblock %}